n8n-workflows/auth-generate-magic-link.json
{
  "name": "Auth: Generate Magic Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/generate-link",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-generate-link",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "auth-generate-link"
    },
    {
      "parameters": {
        "functionCode": "// Extract and validate input\nconst body = $input.item.json.body || $input.item.json;\n\nconst userId = body.userId;\nconst email = body.email;\nconst loanIds = body.loanIds || [];\nconst expirationHours = body.expirationHours || 48;\nconst createdBy = body.createdBy || 'system';\n\n// Validation\nif (!userId) {\n  throw new Error('userId is required');\n}\n\nif (!email) {\n  throw new Error('email is required');\n}\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email format');\n}\n\n// Validate loanIds is array\nif (!Array.isArray(loanIds)) {\n  throw new Error('loanIds must be an array');\n}\n\n// Validate expiration hours\nif (expirationHours < 1 || expirationHours > 168) { // Max 7 days\n  throw new Error('expirationHours must be between 1 and 168 (7 days)');\n}\n\nreturn {\n  userId,\n  email: email.toLowerCase().trim(),\n  loanIds,\n  expirationHours,\n  createdBy\n};"
      },
      "id": "function-validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Pure JavaScript SHA-256 implementation (works in any JS environment)\nfunction sha256(str) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n  \n  const K = [\n    0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5,\n    0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174,\n    0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da,\n    0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967,\n    0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85,\n    0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070,\n    0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3,\n    0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2\n  ];\n  \n  let msg = unescape(encodeURIComponent(str));\n  let msgLen = msg.length;\n  let words = [];\n  \n  for (let i = 0; i < msgLen; i++) {\n    words[i >> 2] |= (msg.charCodeAt(i) & 0xff) << (24 - (i % 4) * 8);\n  }\n  \n  words[msgLen >> 2] |= 0x80 << (24 - (msgLen % 4) * 8);\n  words[(((msgLen + 8) >> 6) << 4) + 15] = msgLen << 3;\n  \n  let H = [0x6a09e667, 0xbb67ae85, 0x3c6ef372, 0xa54ff53a, 0x510e527f, 0x9b05688c, 0x1f83d9ab, 0x5be0cd19];\n  \n  for (let i = 0; i < words.length; i += 16) {\n    let W = new Array(64);\n    let a = H[0], b = H[1], c = H[2], d = H[3], e = H[4], f = H[5], g = H[6], h = H[7];\n    \n    for (let t = 0; t < 64; t++) {\n      if (t < 16) {\n        W[t] = words[i + t] | 0;\n      } else {\n        let s0 = rightRotate(W[t-15], 7) ^ rightRotate(W[t-15], 18) ^ (W[t-15] >>> 3);\n        let s1 = rightRotate(W[t-2], 17) ^ rightRotate(W[t-2], 19) ^ (W[t-2] >>> 10);\n        W[t] = (W[t-16] + s0 + W[t-7] + s1) | 0;\n      }\n      \n      let S1 = rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25);\n      let ch = (e & f) ^ ((~e) & g);\n      let temp1 = (h + S1 + ch + K[t] + W[t]) | 0;\n      let S0 = rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22);\n      let maj = (a & b) ^ (a & c) ^ (b & c);\n      let temp2 = (S0 + maj) | 0;\n      \n      h = g;\n      g = f;\n      f = e;\n      e = (d + temp1) | 0;\n      d = c;\n      c = b;\n      b = a;\n      a = (temp1 + temp2) | 0;\n    }\n    \n    H[0] = (H[0] + a) | 0;\n    H[1] = (H[1] + b) | 0;\n    H[2] = (H[2] + c) | 0;\n    H[3] = (H[3] + d) | 0;\n    H[4] = (H[4] + e) | 0;\n    H[5] = (H[5] + f) | 0;\n    H[6] = (H[6] + g) | 0;\n    H[7] = (H[7] + h) | 0;\n  }\n  \n  return H.map(h => ('00000000' + h.toString(16)).slice(-8)).join('');\n}\n\n// Generate secure random magic token (32 bytes = 64 hex characters)\nconst magicToken = Array.from({length: 32}, () => \n  Math.floor(Math.random() * 256).toString(16).padStart(2, '0')\n).join('');\n\n// Generate unique session ID (UUID v4 format)\nconst sessionId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\n// Hash email with SHA-256\nconst emailHash = sha256($json.email.toLowerCase().trim());\n\n// Calculate expiration timestamp\nconst expiresAt = new Date(Date.now() + ($json.expirationHours * 60 * 60 * 1000));\nconst createdAt = new Date();\n\n// Convert loanIds array to JSON string for database\nconst loanIdsJson = JSON.stringify($json.loanIds);\n\nreturn {\n  sessionId,\n  userId: $json.userId,\n  email: $json.email,\n  emailHash,\n  loanIds: $json.loanIds,\n  loanIdsJson,\n  magicToken,\n  expiresAt: expiresAt.toISOString(),\n  createdAt: createdAt.toISOString(),\n  createdBy: $json.createdBy,\n  expirationHours: $json.expirationHours\n};"
      },
      "id": "function-generate-token",
      "name": "Generate Token and IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Check if user exists\nIF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @userId)\nBEGIN\n  THROW 50001, 'User not found', 1;\nEND\n\n-- Verify user has access to specified loans\nIF EXISTS (\n  SELECT 1 FROM OPENJSON(@loanIds) WITH (LoanId NVARCHAR(50) '$') AS inputLoans\n  WHERE NOT EXISTS (\n    SELECT 1 FROM Loans WHERE LoanId = inputLoans.LoanId AND UserId = @userId\n  )\n)\nBEGIN\n  THROW 50002, 'User does not have access to one or more specified loans', 1;\nEND\n\nSELECT 1 AS ValidationPassed;",
        "additionalFields": {
          "parameters": {
            "parameters": [
              {
                "name": "userId",
                "value": "={{ $json.userId }}"
              },
              {
                "name": "loanIds",
                "value": "={{ $json.loanIdsJson }}"
              }
            ]
          }
        }
      },
      "id": "sql-validate-user-loans",
      "name": "Validate User and Loans",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO AuthSessions (\n  SessionId,\n  UserId,\n  LoanIds,\n  EmailHash,\n  MagicToken,\n  TokenType,\n  Status,\n  ExpiresAt,\n  CreatedAt,\n  CreatedBy\n)\nVALUES (\n  @sessionId,\n  @userId,\n  @loanIds,\n  @emailHash,\n  @magicToken,\n  'magic_link',\n  'pending',\n  @expiresAt,\n  @createdAt,\n  @createdBy\n);\n\nSELECT SessionId FROM AuthSessions WHERE SessionId = @sessionId;",
        "additionalFields": {
          "parameters": {
            "parameters": [
              {
                "name": "sessionId",
                "value": "={{ $json.sessionId }}"
              },
              {
                "name": "userId",
                "value": "={{ $json.userId }}"
              },
              {
                "name": "loanIds",
                "value": "={{ $json.loanIdsJson }}"
              },
              {
                "name": "emailHash",
                "value": "={{ $json.emailHash }}"
              },
              {
                "name": "magicToken",
                "value": "={{ $json.magicToken }}"
              },
              {
                "name": "expiresAt",
                "value": "={{ $json.expiresAt }}"
              },
              {
                "name": "createdAt",
                "value": "={{ $json.createdAt }}"
              },
              {
                "name": "createdBy",
                "value": "={{ $json.createdBy }}"
              }
            ]
          }
        }
      },
      "id": "sql-insert-session",
      "name": "Insert Auth Session",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO AuthAuditLog (\n  SessionId,\n  UserId,\n  EventType,\n  Success,\n  IpAddress,\n  UserAgent,\n  RequestPayload\n)\nVALUES (\n  @sessionId,\n  @userId,\n  'link_generated',\n  1,\n  @ipAddress,\n  @userAgent,\n  @payload\n);",
        "additionalFields": {
          "parameters": {
            "parameters": [
              {
                "name": "sessionId",
                "value": "={{ $node['Generate Token and IDs'].json.sessionId }}"
              },
              {
                "name": "userId",
                "value": "={{ $node['Generate Token and IDs'].json.userId }}"
              },
              {
                "name": "ipAddress",
                "value": "={{ $node['Webhook'].json.headers['x-forwarded-for'] || $node['Webhook'].json.headers['x-real-ip'] || 'unknown' }}"
              },
              {
                "name": "userAgent",
                "value": "={{ $node['Webhook'].json.headers['user-agent'] || 'unknown' }}"
              },
              {
                "name": "payload",
                "value": "={{ JSON.stringify({loanCount: $node['Generate Token and IDs'].json.loanIds.length, expirationHours: $node['Generate Token and IDs'].json.expirationHours}) }}"
              }
            ]
          }
        }
      },
      "id": "sql-log-event",
      "name": "Log to Audit Trail",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build magic link URL\nconst baseUrl = 'https://your-domain.com'; // TODO: Update with actual domain\nconst magicLink = `${baseUrl}/auth?token=${$node['Generate Token and IDs'].json.magicToken}`;\n\n// Format expiration time for email\nconst expiresAt = new Date($node['Generate Token and IDs'].json.expiresAt);\nconst expirationText = expiresAt.toLocaleString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZoneName: 'short'\n});\n\nconst hoursText = $node['Generate Token and IDs'].json.expirationHours;\n\nreturn {\n  to: $node['Generate Token and IDs'].json.email,\n  subject: 'Access Your Loan Documents - MyBox',\n  html: `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: #135bec; color: white; padding: 30px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background-color: #f9f9f9; padding: 30px; border-radius: 0 0 8px 8px; }\n    .button { display: inline-block; padding: 15px 30px; background-color: #135bec; color: white; text-decoration: none; border-radius: 6px; font-weight: bold; margin: 20px 0; }\n    .button:hover { background-color: #0d47b8; }\n    .info-box { background-color: #fff; border-left: 4px solid #135bec; padding: 15px; margin: 20px 0; }\n    .warning { background-color: #fff3cd; border-left: 4px solid: #ffc107; padding: 15px; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 30px; font-size: 12px; color: #666; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Access Your Loan Documents</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      \n      <p>You've been invited to access and manage your loan documents on MyBox.</p>\n      \n      <p>Click the button below to get started:</p>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"${magicLink}\" class=\"button\">Access My Documents</a>\n      </p>\n      \n      <div class=\"info-box\">\n        <strong>Important Information:</strong>\n        <ul>\n          <li>This link will expire in ${hoursText} hours (${expirationText})</li>\n          <li>You can use this link only once</li>\n          <li>You'll need to verify your email address after clicking</li>\n        </ul>\n      </div>\n      \n      <div class=\"warning\">\n        <strong>⚠️ Security Notice:</strong>\n        <ul>\n          <li>Don't share this link with anyone</li>\n          <li>If you didn't request this, please ignore this email</li>\n          <li>We'll never ask for your password via email</li>\n        </ul>\n      </div>\n      \n      <p>If the button doesn't work, copy and paste this link into your browser:</p>\n      <p style=\"word-break: break-all; font-size: 12px; color: #666;\">${magicLink}</p>\n      \n      <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n      \n      <p>Questions? Contact our support team at <strong>support@example.com</strong></p>\n    </div>\n    <div class=\"footer\">\n      <p>&copy; 2025 MyBox. All rights reserved.</p>\n      <p>This is an automated message, please do not reply to this email.</p>\n    </div>\n  </div>\n</body>\n</html>\n  `,\n  magicLink,\n  expiresAt: expirationText\n};"
      },
      "id": "function-build-email",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "functionCode": "// TODO: Replace with actual email sending node (SendGrid, AWS SES, etc.)\n// This is a placeholder that simulates email sending\n\nconst emailData = $json;\n\nconsole.log('📧 Email would be sent to:', emailData.to);\nconsole.log('Subject:', emailData.subject);\nconsole.log('Magic Link:', emailData.magicLink);\n\nreturn {\n  emailSent: true,\n  recipient: emailData.to,\n  subject: emailData.subject,\n  sentAt: new Date().toISOString(),\n  note: 'TODO: Replace this node with actual email service (SendGrid/AWS SES/Mailgun)'\n};"
      },
      "id": "function-send-email-placeholder",
      "name": "Send Email (Placeholder)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Format success response\nconst tokenData = $node['Generate Token and IDs'].json;\nconst emailData = $node['Build Email Content'].json;\n\nreturn {\n  success: true,\n  sessionId: tokenData.sessionId,\n  magicLink: emailData.magicLink,\n  recipient: tokenData.email,\n  expiresAt: tokenData.expiresAt,\n  expirationHours: tokenData.expirationHours,\n  loanCount: tokenData.loanIds.length,\n  message: 'Magic link generated and email sent successfully',\n  createdAt: tokenData.createdAt\n};"
      },
      "id": "function-format-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "functionCode": "// Handle errors and format error response\nconst error = $input.item.json.error || {};\nconst errorMessage = error.message || 'Failed to generate magic link';\n\n// Log error to audit trail (if session was created)\nconst sessionId = $node['Generate Token and IDs']?.json?.sessionId || null;\nconst userId = $node['Validate Input']?.json?.userId || null;\n\nreturn {\n  success: false,\n  error: errorMessage,\n  errorCode: 'LINK_GENERATION_FAILED',\n  sessionId,\n  userId,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "function-error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO AuthAuditLog (\n  SessionId,\n  UserId,\n  EventType,\n  Success,\n  ErrorMessage,\n  ErrorCode\n)\nVALUES (\n  @sessionId,\n  @userId,\n  'link_generation_failed',\n  0,\n  @errorMessage,\n  @errorCode\n);",
        "additionalFields": {
          "parameters": {
            "parameters": [
              {
                "name": "sessionId",
                "value": "={{ $json.sessionId }}"
              },
              {
                "name": "userId",
                "value": "={{ $json.userId }}"
              },
              {
                "name": "errorMessage",
                "value": "={{ $json.error }}"
              },
              {
                "name": "errorCode",
                "value": "={{ $json.errorCode }}"
              }
            ]
          }
        }
      },
      "id": "sql-log-error",
      "name": "Log Error to Audit",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node['Error Handler'].json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Generate Token and IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Token and IDs": {
      "main": [
        [
          {
            "node": "Validate User and Loans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User and Loans": {
      "main": [
        [
          {
            "node": "Insert Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Auth Session": {
      "main": [
        [
          {
            "node": "Log to Audit Trail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Audit Trail": {
      "main": [
        [
          {
            "node": "Build Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Content": {
      "main": [
        [
          {
            "node": "Send Email (Placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Placeholder)": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
